{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<style>
	a {
		color: black;
	}
</style>
<script>
window.onload = function() {
    $('#example').DataTable();
}
</script>

{% endblock head %}

{% block content %}
<table class="display" id="example" style="width:100%">
    <thead>
        <tr>
            <th>Kund</th>
            <th>Organisationsnummer</th>
            <th>Skapare</th>
            <th>ÅF-nummer</th>
        </tr>
    </thead>
    <tbody>
    {% for response in responses %}
        <tr>
            <td><a href="kund/{{response.custCompName}}">{{ response.custCompName }}</a></td>
            <td><a href="kund/{{response.custCompName}}">{{ response.custOrgNum }}</a></td>
            <td><a href="kund/{{response.custCompName}}">{{ response.creator }}</a></td>
            <td><a href="kund/{{response.custCompName}}">{{ response.afNum }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% block body %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

{% endblock body %}

{% endblock content%}