{% extends "layout.html" %}
{% block head %}
<style>
	a {
		color: black;
	}
</style>
{% endblock head%}
{% block content %}
<!-- Knapp för att gå tillbaks-->
<button onclick="window.history.back()" class="btn btn-outline-info">Gå tillbaka</button>
<p></p>
<h4>Klicka på ett svar för att ändra innehållet</h4>
<p></p>
{% for i in range(6) %}
	<article class="media content-section">
	  <div class="media-body">
	    <div class="article-metadata">
			<b><big>Fråga {{ i+1 }}</big>
			  <p>{{ questions[i] }}</p></b>
	    </div>
	    <a href="{{resId}}/q{{i+1}}">{{ responses[i] }}</a>
	  </div>
	</article>
{% endfor %}
{% endblock content%}