{% extends "layout.html" %}
{% block head %}
<style>
	a {
		color: black;
	}
</style>
{% endblock head%}
{% block content %}
<!-- Knapp för att gå tillbaks-->
<button onclick="window.history.back()" class="btn btn-outline-info">Gå tillbaka</button>

<p></p>
<h1>{{resObject.custCompName}}</h1>
<p></p>

{% for i in range(172) %}
	<article class="media content-section">
	  <div class="media-body">
		  {% if response[i] is defined %}
			  <div class="article-metadata">
				<b><big>{{ questions[i] }}</big></b>
			  </div>
		  <a href="{{resObject.response_id}}/q{{i+1}}">{% if responses[i] is 'None' %}</a>
		  {% endif %}
	  </div>
	</article>
{% endfor %}
{% endblock content%}